body {
  background-color: #c18ff0;
}

h1 {
  color: #340c5a;
}

button {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#carouselcontainer {
  width: 500px;
  display: table;
  margin: 0 auto;
  border: 1px solid purple;
  background-color: white;
}

.person {
  width: 500px;
  /*border: 1px solid black;*/
  margin: 0 auto;
  height: 100px;
  vertical-align: middle;
  display: table;
}

img {
  width: 100px;
  float: left;
  display: table-cell;
  padding-right: 10px;
}

#buttons {
  width: 500px;
  display: table;
  margin: 0 auto;
  text-align: center;
}

#prevButton {
  float: left;
}

#nextButton {
  float: right;
  text-align: right;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  background-color: black;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  margin: 14px 7px;
}

.currentdot {
  background-color: orange;
}

.progress {
  width: 100%;
  height: 3px;
}

.progress-wrap {
  background: #f80;
  /*margin: 10px 0;*/
  overflow: hidden;
  position: relative;
}

.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}
